@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Playfair+Display|Source+Sans+Pro');

* {box-sizing: border-box}

html, body, p {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
   width: 100%;
}

body {
   background-color: #DAD2D8;
   overflow-x: hidden;
}

p, h1, h2, h3 {
   color: #143642;
   font-family: 'Nanum Myeongjo', serif;
}
p {
   font-family: 'Source Sans Pro', sans-serif;
}

header {
   background-color: #0F8B8D;
   font-size: 3em;
   text-align: center;
   padding: 2%;
   color: #DAD2D8;
   font-family: 'Playfair Display', serif;
}

nav {
   text-align: left;
   padding: .5%;
   padding-left: 20%;
}
nav a {
   color: #A8201A;
   padding: .75% 2%;
   text-transform: uppercase;
   text-decoration: none;
   transition: all .2s ease-in-out;

   font-family: 'Nanum Myeongjo', serif;
}
nav a:hover {
   color: #DAD2D8;
   background-color: #A8201A;
}
nav a:visited {
   /* color: #DAD2D8; */
}

nav ul {
   margin: 0;
   padding: 0;
}
nav ul li {
   list-style-type: none;
}

hr {
   margin: 0;
   color: #A8201A;
   border: 0; 
   height: 1px; 
   background-image: -webkit-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
   background-image: -moz-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
   background-image: -ms-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
   background-image: -o-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8); 
}

main {
   width: 60%;
   margin: auto;
}
main p {
   padding: 5px 0;
   padding-left: 5%;
}

a {
   color: #A8201A;
   text-decoration: none;
   transition: all .2s ease-in-out;
}
a:hover {
   position: relative;
   color: #0F8B8D;
}

footer {
   position: absolute;
   width: 100%;
   bottom: 0;
   background-color: #0F8B8D;
   text-align: center;
  
}
footer p {
   color: #DAD2D8;
}